@import "../../../../styles.scss";

#section_intro {
    .intro_info {
        text-align: center;
        
        > img {
            width: 92%;
            padding-bottom: 3rem;

            &:first-child {
                width: 84%;
            }
        }

        > div {
            background-color: white;
            border-radius: 1rem;
            padding: 1rem;
            width: 92%;
            margin: 0 auto;
            > p {
                margin: 0;

                &:first-child {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0.6rem;
                    text-align: left;

                    > img {
                        width: 14%;
                    }

                    span {
                        color: gray;
                    }
                }

                &:last-child {
                    padding-top: 1.2rem;
                    text-align: center;

                    button {
                        background-color: $OrangeDark;
                        width: 80%;
                    }
                }
            }
        }
    }
}
