@import "../../../../styles.scss";

#dashboard_section {
    animation: fade 0.5s ease;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    app-top-app-bar-logged {
        width: 100%;
        padding: 1rem 1rem 0 1rem;
    }

    >div {
        flex: 1;
        width: 100%;
        overflow-y: hidden;
        justify-self: start;
        padding: 0 1rem;
        // border: 1px solid red;
    }

    app-dashboard-bottom-navigation {
        width: 100%;
        position: relative;
        /* bottom: 0;
        left: 0; */
        width: 100%;
        z-index: 9;

        /* Añade espacio extra si el dispositivo lo requiere */
        padding-bottom: env(safe-area-inset-bottom);
    }
}