@import "../../../../styles.scss";

#section_lista_provincias {
    > div {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0 .4rem 0;

        button {
            color: white;
        }
    }

    > ul {
        flex: 1;
        overflow-y: scroll;
        list-style: none;
        padding: 8px;
        margin: 0 0 1.24rem 0;
        width: 100%;
        border-radius: 1rem;
        background-color: rgba($color: white, $alpha: 0.6);

        li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            background-color: white;
            border-radius: 0.5rem;
            color: black;
            padding: 0.8rem;
            transition: opacity 0.2s ease-in-out;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }

            &:active {
                opacity: .5;
            }

            > span {
                &:first-child {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    color: white;
                    font-weight: 500;
                }

                &:last-child {
                    flex: 1;
                }
            }
        }
    }
}
