@import '../../../../styles.scss';

#loading_layer {
    animation: fade 0.25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#ECEFD5, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}
