@import "../../../../styles.scss";

#section_profe_lista_epigrafes {
    animation: fade 0.5s ease;
    position: fixed;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    top: 0;
    background-color: rgba($color: #ecefd5, $alpha: 0.95);
    overflow: hidden;
    padding: 1.2rem;
    // Compensar la barra de estado de iOS
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    z-index: 10;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: $ButtonMagenta;
        border-bottom: 1px solid $ButtonMagenta;
        margin-bottom: 1rem;
        padding-bottom: 0.6rem;

        span {
            display: block;
            flex: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        button {
            color: $ButtonMagenta;
        }
    }

    main {
        flex: 1;
        overflow: auto;
        width: 100%;
        // border: 1px solid red;

        h1 {
            margin: 0;
            padding-bottom: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            color: #394b94;
            font-size: 1rem;
            font-weight: 400;

            mat-icon {
                color: #394b94;
            }
        }

        ul {
            list-style: none !important;
            margin: 0 !important;
            padding: 0 !important;
            width: 100%;

            li {
                background-color: white;
                border: 1px solid #b8c6ff;
                border-left: 0.8rem solid #b8c6ff;
                border-radius: 0.4rem;
                color: #0c092a;
                padding: 1.1rem 0.4rem;
                font-size: 0.9rem;
                transition: opacity 0.2s ease-in-out;

                &:active {
                    opacity: 0.6;
                }

                &:not(:last-child) {
                    margin-bottom: 0.6rem;
                }
            }
        }
    }
}


/******************************/
/* MAQUETA TABLETS HORIZONTAL */
/******************************/

@media (min-width: 600px) and (max-width: 900px) and (orientation: portrait) {
    #section_profe_lista_epigrafes {
        padding: 4rem 6rem;
    }
}