<section id="section_test_bottomsheet_buscar">

    <h4>Elige una pregunta</h4>

    <div>
        @for (pregunta of preguntasTest; track $index) {
            @if(autocorreccion === 0 && !modoCorreccion) {
                <span (click)="cerrar($index)" [ngClass]="(pregunta.seleccion !== 0) ? 'contestada' : ''">{{$index + 1}}</span>
            }
            @else {
                @if ((autocorreccion === 1 && listCorregidasAutocorreccion[$index]) || modoCorreccion) {
                    <span
                        (click)="cerrar($index)"
                        [ngClass]="((pregunta.seleccion - 1) === listaRespuestasCorrectas[$index]) ? 'corregida_ok' : 'corregida_error'">
                        {{$index + 1}}
                    </span>
                }
                @else {
                    <span (click)="cerrar($index)" [ngClass]="(pregunta.seleccion !== 0) ? 'contestada' : ''">{{$index + 1}}</span>
                }
            }
        }
    </div>

</section>
