#section_test_bottomsheet_buscar {
    padding: 1.6rem;
    text-align: center;

    h4 {
        color: black;
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0;
        padding-bottom: 2rem;
    }

    div {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px; /* separación entre filas y columnas */

        span {
            display: block;
            padding: 6px 0;
            background-color: #9CC6FF;
            color: white;
            font-weight: 600;
            border-radius: 50px;
            transition: opacity .2s ease;

            &:active {
                opacity: .5;
            }

            &.contestada {
                background-color: #5B9DF8 !important;
                color: yellow !important;
            }

            &.corregida_ok {
                background-color: #00C000 !important;
                color: yellow !important;
            }

            &.corregida_error {
                background-color: red !important;
                color: yellow !important;
            }
        }
    }
}
