@import "../../../../styles.scss";

#section_loader {

    > div {
        text-align: center;
        > img {
            width: 92%;

            &:first-child {
                width: 84%;
                padding-bottom: 3rem;
            }
        }

        > span {
            font-size: 1.2rem;
            font-weight: 500;

            > img {
                vertical-align: middle;
                width: 30px;
                margin-left: .4rem;
            }
        }
    }
}
