@import "../../../../styles.scss";

#section_test_bloqueo_chrono {
    animation: fade 0.5s ease;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba($color: #ecefd5, $alpha: 0.95);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: all 0.2s ease-in-out;

    :active {
        filter: opacity(.5);
    }

    > img {
        vertical-align: middle;
        width: 74%;
    }

    > div {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        color: $ButtonMagenta;
    }
}
