@defer (when temaLoaded()) {
<section id="section_profe_container">

    <app-top-app-bar-logged [alumno]="alumno()" />

    <main>
        <div>
            <app-profe-menu-header
                [nombreTema]="profeTema?.nombre_tema ?? ''"
                (navigateBackEmitter)="headerNavigateBack()"
                (showInfoEmitter)="headerShowInfo()"
                (goToTestEmitter)="headerGoToTest()" />
        </div>

        <div>
            <app-profe-elemento-activo
                [elemento]="profeTema?.elementos?.[indexEA()]"
                [numeroElementos]="profeTema?.elementos?.length"
                [indexEA]="indexEA()"
                (clickEpigrafesEmitter)="clickEpigrafes()"
                (clickElementosEmitter)="clickElementos()" />
        </div>
    </main>

    <app-profe-bottom-menu
        (clickAtrasEmitter)="clickAtras()"
        (clickAlanteEmitter)="clickAlante()"
        (clickPausaEmitter)="clickPausa()"
        (clickRepetirEmitter)="clickRepetir()"
        (clickSonidoEmitter)="clickSonido()" />

    @if (showListaEpigrafes()) {
        <app-profe-lista-epigrafes
            [nombreTema]="profeTema?.nombre_tema ?? ''"
            [listaDeEpigrafes]="listaDeEpigrafes"
            (closeListaEpigrafesEmitter)="closeListaEpigrafes()"
            (clickGoToEpigrafeEmitter)="clickGoToEpigrafe($event)" />
    }

    @if (showListaElementos()) {
        <app-profe-lista-elementos
            [indexEA]="indexEA()"
            [nombreTema]="profeTema?.nombre_tema ?? ''"
            [listaElementos]="listaDeElementos"
            (closeListaElementosEmitter)="closeListaElementos()"
            (clickGoToElementoEmitter)="clickGoToElemento($event)" />
    }

</section>
}