@import "../../../../styles.scss";

#section_lista_aes_provincia {
    > div {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0 0.4rem 0;
        // Compensar la barra de estado de iOS
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);

        button {
            color: white;
        }
    }

    > ul {
        flex: 1;
        overflow-y: scroll;
        list-style: none;
        padding: 0;
        margin: 0 0 1.24rem 0;
        width: 100%;

        li {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }
}

/******************************/
/* MAQUETA TABLETS HORIZONTAL */
/******************************/

// @media (min-width: 600px) and (max-width: 900px) and (orientation: portrait) {
@media only screen and (min-width: 600px) and (orientation: portrait) {
    #section_lista_aes_provincia {
        > ul {
            width: 80%;
        }
    }
}
