#section_profe_elemento_activo_visor {
    width: 100%;
    height: 296px;
    padding: 4px;

    img {
        vertical-align: middle;
        width: 100%;
        border-radius: .6rem;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .foto_fin {
        opacity: 1 !important;
        transform: scale(.76);
    }
}