@import "../../../../../styles.scss";

#section_profeweb_reproducciones {
    animation: fade 0.5s ease;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid blue;

    app-dashboard-app-bar {
        width: 100%;
    }
}
