@defer (when testLoaded()) {
    <section id="test_container_section">

        <main>
            <app-top-app-bar-logged [alumno]="alumno" />

            <app-test-menu-header
                [curso]="(tipo()=== TipoTest.TestPredefinido) ? test.nombre_curso : ''"
                [permiso]="test.nombre_permiso"
                [categoria]="(tipo()=== TipoTest.TestPredefinido) ? test.nombre_categoria : tipo()"
                [test]="test.nombre_test"
                [descripcion]="(tipo()=== TipoTest.TestPredefinido) ? test.descripcion_test : test.descripcion_categoria"
                [chronoTimeOutState]="false"
                (navigateBackEmitter)="checkNavigateBack()" />

            <div class="test_container_pregunta">
                @if(modoCorreccion()) {
                    <app-test-info-result 
                    [tipoTest]="tipo()"
                    [numeroPregunta]="numeroPregunta()"
                    [resultado]="dataTestCorregido?.datos_correcion ?? null" />
                }
                @else {<app-test-chrono
                    [numeroPregunta]="numeroPregunta()"
                    [chronoDisplayState]="chronoDisplayState()"
                    [isRunning]="chronoIsRunning()"
                    (manageChronoEmitter)="manageChrono()" />}

                <div class="test_container_pregunta_contenido">
                    <div>
                        <img
                            (click)="test.preguntas[numeroPregunta()].foto.length > 0 && showPhotoZoom.set(true)"
                            #fotoPregunta (load)="fotoPregunta.style.opacity = '1'"
                            [src]="(test.preguntas[numeroPregunta()].foto.length > 0) ? (BASE_STORAGE_PREGUNTAS + test.preguntas[numeroPregunta()].foto) : alumno?.autoescuela?.logotipo"
                            alt="foto">
                    </div>

                    <h4 [innerHTML]="test.preguntas[numeroPregunta()].enunciado"></h4>

                    <ul>
                        @for(respuesta of test.preguntas[numeroPregunta()].respuestas; track $index) {
                            <li>
                                <app-test-item-respuesta
                                    [index]="$index"
                                    [seleccion]="test.preguntas[numeroPregunta()].seleccion"
                                    [correcta]="respuesta.correcta"
                                    [respuesta]="respuesta.respuesta"
                                    [autocorreccion]="dataTest.autocorreccion"
                                    [estadoAutoCorreccion]="(this.listCorregidasAutocorreccion.length > 0) ? (this.listCorregidasAutocorreccion[numeroPregunta()]) : false"
                                    [modoCorreccion]="modoCorreccion()"
                                    (clickSeleccionEmitter)="setAnswerSelected($index)" />
                            </li>
                        }
                    </ul>
                </div>
            </div>

        </main>

        <app-test-bottom-menu
            [ayuda]="test.ayuda"
            [autocorreccion]="test.autocorreccion"
            [modoCorreccion]="modoCorreccion()"
            (clickOptionEmitter)="clickOptionBottomMenu($event)" />

    </section>

    @if (showInfoModoTest() && showInfoModoTest()?.toString() === '1') {
        <app-test-info-modo-test
            [autocorreccion]="test.autocorreccion"
            (abandonarEmitter)="navigateBack()"
            (comenzarEmitter)="startTest()" />
    }

    @if (!chronoIsRunning() && !chronoTimeOut() && !testIsSaving() && !modoCorreccion()) {
        <app-test-bloqueo-chrono (clickBloqueoEmitter)="manageChrono()" />
    }

    @if (showPhotoZoom()) {
        <app-test-photo-zoom 
        [pregunta]="numeroPregunta()" 
        [urlPhoto]="BASE_STORAGE_PREGUNTAS + test.preguntas[numeroPregunta()].foto"
        (closePhotoZoomEmitter)="showPhotoZoom.set(false)" />
    }

    @if (chronoTimeOut()) {
        <app-test-time-out (corregirTestEmitter)="checkTestCompleto(true)" />
    }

    @if (showResultadoTest()) {
        <app-test-resultado
        [tipoTestSeleccionado]="tipo()"
        [numeroPreguntas]="test.preguntas.length"
        [resultado]="dataTestCorregido"
        (clickRevisarEmitter)="clickRevisar()"
        (clickTerminarEmitter)="clickTerminar()" />
    }
}
